.App {
  text-align: center;
}

html {
  background-image: url("https://wallpaperaccess.com/full/1858089.jpg");
  background-size: 100%;
}

.mainBlock {
  background-color:white;
  border-radius:2%;
  padding:7% 7%;
  margin:5%;
  margin-bottom:13vh;
}

.mainBlock h1 {
  color:#C89EA5;
  margin:0;
  margin-bottom:5%;
  text-align: center;
}

.mainBlock a {
  display:block;
  line-height:2;
  color:#C89EA5;
  text-decoration:none;
  margin-bottom:5%;
  padding:1%;
  text-align: center;
  border-radius:5%;
}

.br {
  display:block;
}